/* body{
    background-image: url('https://source.unsplash.com/category/nature/1600x900');
    background-size: cover;
    min-height:100vh;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
  } */


  body {
    overflow-x: hidden;
    background-color: #000;
  }

  section {
    position: relative;
    height: 100vh;
    width: 100vw;
    border-top: 1px dashed #333;
    z-index: 100;
  }

  .innerWrap {
    padding: 120px;
    width: 340px;
    margin-top:50px;
    z-index: 50;
  }

  /* 우측 이미지 영역 */
  .imageWrap {
    position: fixed;
    right: -20%;
    top: 10%;
    width:100%;
  }

  .image {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition : all 1s ease-in-out;
    color: #fff;
  }

  .image.active {
    opacity: 1;
  }

  h1 {
    color: #fff;
    text-align: center;
    margin-top : 40vh;
    font-size: 60px;
  }
  h2 {
    color: #243544;
  }
  p {
    color : #fff;
    font-size: 16px;
    line-height: 24px;
  }